/box_traffic_delay
/box_traffic_pdr
/cbr
/data
/delay
/myenv
/pdr
/posPDR
/results/*
/traffic_delay
/traffic_pdr
/vehicleCamData
.~*
.cmdenv-log
*.png
cam_smooth.sh
cam.sh
*.log
check.txt
gomi.csv
makecsv.csv
makecsv.ods
numo_memo*
*.gif
*.dat

test.dat
test.txt
traffic.sh
vehicle_memo
*.zip
*.data.csv
.csv
.pdf